In [7]:
# Step 1: Take input and convert to list
input_str = input("Enter a string: ")
char_list = list(input_str)

# Step 2: Delete at least 2 characters (e.g., delete characters at index 0 and 1)
# You can change these indices as needed
del char_list[0]     # Remove 'p'
del char_list[0]     # Remove 'y' (now at index 0 after first deletion)

# Step 3: Reverse the resulting list
char_list.reverse()

# Step 4: Join and print
result = ''.join(char_list)
print(result)

Enter a string: python
noht

In [8]:
# Take input from user and convert to float
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2

# Check for division by zero
if num2 != 0:
    division = num1 / num2
else:
    division = "Undefined (cannot divide by zero)"

# Print results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Enter first number: 10
Enter second number: 15
Addition: 25.0
Subtraction: -5.0
Multiplication: 150.0
Division: 0.6666666666666666

In [9]:
# Take sentence input from the user
sentence = input("Enter a sentence: ")

# Replace 'python' with 'pythons'
updated_sentence = sentence.replace("python", "pythons")

# Print the result
print("Updated sentence:", updated_sentence)

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

In [10]:
# Take input score from user
score = float(input("Enter your class score (0-100): "))

# Determine the letter grade
if score >= 90 and score <= 100:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
elif score >= 0:
    grade = "F"
else:
    grade = "Invalid score"

# Print the result
print("Your grade is:", grade)

Enter your class score (0-100): 91
Your grade is: A

In [11]:
# Given input list
x = [23, 'Python', 23.98]

# Create a new list containing types of each element
types = [type(item) for item in x]

# Print the original list
print(x)

# Print the list of types
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [12]:
# Initial sets and list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Insert multiple companies
IT_companies.update(['Tesla', 'TCS', 'Infosys'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company
IT_companies.remove('Oracle')  # You can also try with discard
print("After removing Oracle:", IT_companies)

# 5. Difference between remove and discard
print("""
# 'remove' raises an error if the item does not exist.
# 'discard' does not raise an error if the item is not found.
""")

# 6. Join A and B (union)
joined_AB = A.union(B)
print("Join A and B:", joined_AB)

# 7. Intersection of A and B
print("A intersection B:", A.intersection(B))

# 8. Is A subset of B?
print("Is A subset of B?", A.issubset(B))

# 9. Are A and B disjoint?
print("Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# 11. Symmetric difference between A and B
print("Symmetric difference between A and B:", A.symmetric_difference(B))

# 12. Delete sets completely
del IT_companies
del A
del B

# 13. Convert age list to a set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Facebook', 'Microsoft', 'Oracle', 'Google', 'Apple', 'IBM', 'Twitter', 'Amazon'}
After adding multiple companies: {'TCS', 'IBM', 'Facebook', 'Microsoft', 'Oracle', 'Apple', 'Tesla', 'Twitter', 'Infosys', 'Google', 'Amazon'}
After removing Oracle: {'TCS', 'IBM', 'Facebook', 'Microsoft', 'Apple', 'Tesla', 'Twitter', 'Infosys', 'Google', 'Amazon'}

# 'remove' raises an error if the item does not exist.
# 'discard' does not raise an error if the item is not found.

Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5